/ProgrammingCourses/Plubulu/dist/
/ProgrammingCourses/Triangulo/dist/
/ProgrammingCourses/Generic/HoraReloj/build/
/ProgrammingCourses/Generic/HoraReloj/dist/
/ProgrammingCourses/Generic/HoraReloj/nbproject/private/
/ProgrammingCourses/Generic/InterfaceProgAvanzada/build/
/ProgrammingCourses/Generic/InterfaceProgAvanzada/nbproject/private/
/ProgrammingCourses/OOP/Herencia/build/
/ProgrammingCourses/OOP/Herencia/dist/
/ProgrammingCourses/OOP/Encapsulation/dist/
/ProgrammingCourses/OOP/Students/nbproject/private/
/ProgrammingCourses/OOP/Students/build/